<div class="uk-card uk-card-default">
	<div class="uk-card-header">
		<div class="uk-grid-small uk-flex-middle" uk-grid>
			<div class="uk-width-auto">
				<img class="uk-border-circle" width="40" height="40" src="#">
			</div>
			<div class="uk-width-expand">
				<h3 class="uk-card-title uk-margin-remove-bottom"><%= @client.name %></h3>
			</div>
		</div>
	</div>
	<div class="uk-card-body">
		<ul class="uk-list">
			<li class="uk-flex uk-flex-middle">
				<span uk-icon="location"></span> <span class="uk-text-middle uk-margin-small-left"> <%= @client.address %><br />
					<%= @client.zip %> <%= @client.city %></span>
			</li>
			<li class="uk-flex uk-flex-middle">
				<span uk-icon="mail"> </span> <span class="uk-text-middle uk-margin-small-left"><%= @client.email %></span>
			</li>
			<li class="uk-flex uk-flex-middle">
				<span uk-icon="phone"> </span> <span class="uk-text-middle uk-margin-small-left"><%= @client.phone %></span>
			</li>
			<li class="uk-flex uk-flex-middle">
				<span uk-icon="world"> </span> <span class="uk-text-middle uk-margin-small-left"><%= @client.web %></span>
			</li>
		</ul>
	</div>
</div>
