<div class="info-card box-shadow">
  <h2><%= @client.name %></h2>
  <div class="item address flex"><i class="fas fa-map-marked-alt">    </i><%= @client.address %>,</br>
  <%= @client.zip %> <%= @client.country %></div>
  <div class="item mail flex"><i class="fas fa-envelope"></i><%= @client.email %></div>
  <div class="item phone flex"><i class="fas fa-phone"></i><%= @client.phone  %></div>
</div>