<table>
	<thead class="head">
		<tr>
			<th>N° Devis</th>
			<th>Référence</th>
			<th>Client</th>
			<th>Statut</th>
			<th>Prix</th>
			<th>Dernière modification</th>
		</tr>
	</thead>
	<tbody class="body">
		<% quotes.each do |quote| %>
			<tr data-link="<%= quote_path(quote) %>" class="row">
				<td><%= quote.id %></td>
				<td><%= quote.references %></td>
				<% if current_user.third_party.manufacturer? %>
					<td><%= quote.relation.client.name %></td>
				<% else %>
					<td><%= quote.final_client.name %></td>
				<% end %>
				<td><span class="state <%= quote.state[:class] %>"><%= quote.state[:name] %></span></td>
				<td><%= humanized_money(quote.price) %> <%= currency_symbol %></td>
				<td><%= quote.state_date %></td>
			</tr>
		<% end %>
	</tbody>
</table>
