<table>
	<thead class="head">
		<tr>
			<th>Nom</th>
			<th>Adress</th>
		</tr>
	</thead>
	<tbody class="body">
		<% clients.each do |client| %>
			<tr data-link="<%= client_path(client) %>" class="row">
				<% if current_user.third_party.manufacturer? %>
					<td id="name">
						<%= link_to(client.name.capitalize, client_path(client)) %>
					</td>
				<% else %>
					<td id="name"><%= client.final_client.name.capitalize %></td>
				<% end %>
				<% if client.address == "" %>
					<td>
					<%= link_to(client_path(client)) do %>
						<span id="no-address">Pas d'adresse enregistrée</span>
						<% end %>
					</td>
				<% else %>
					<td id="address">
						<%= link_to(client_path(client)) do %>
							<%= client.address %>, <%= client.zip %> <%= client.city %>
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
