<div class="uk-container">
	<h2 class="uk-heading-divider">Clients</h2>
	<div class="uk-overflow-auto uk-box-shadow-medium uk-padding-small">
		<table class="uk-table uk-table-middle uk-table-divider">
			<thead>
				<tr>
					<th class="uk-width-small">Nom</th>
					<th class="uk-width-small">Address</th>
				</tr>
			</thead>
			<tbody>
				<% clients.each do |client| %>
					<tr>
						<td class="uk-table-link">
							<a class="uk-link-reset" href="<%= client_path(client) %>"><%= client.name.capitalize %></a>
          </td>
					<td class="uk-table-link">
            <a class="uk-link-reset" href="<%= client_path(client) %>">
							<%= client.address %><br />
							<%= client.zip %> <%= client.city %>
						</a>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
</div>
