<table>
	<thead class="head">
		<tr>
			<th>Nom</th>
			<th>Adress</th>
		</tr>
	</thead>
	<tbody class="body">
		<% clients.each do |client| %>
			<tr data-link="<%= client_path(client) %>" class="row">
				<% if current_user.third_party.manufacturer? %>
					<td id="name"><%= client.name.capitalize %></td>
				<% else %>
					<td id="namerails "><%= client.final_client.name.capitalize %></td>
				<% end %>
				<% if client.address == "" %>
					<td id="no-address">
						Pas d'adresse enregistrée
					</td>
				<% else %>
					<td id="address"><%= client.address %>, <%= client.zip %> <%= client.city %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
