<%= render 'shared/main_header' %>
<%= render 'shared/secondary_header' %>
<div class="container">
	<%= link_to "back", clients_path, class: "btn" %>
	<%= simple_form_for @client, url: clients_path, class:"ui form" do |f| %>
		<h3 class="ui dividing header">Nouveau Client</h3>
		<div class="field">
			<%= f.input :name, label: "Nom", placeholder:"Nom du client"%>
		</div>
		<div class="field">
			<%= f.input :address, label: "Adresse", placeholder:"N° et Rue" %>
		</div>
		<div class="fields">
			<div class="four wide field">
				<%= f.input :zip, label: "Code postal", placeholder: "ex: 59166" %>
			</div>
			<div class="twelve wide field">
				<%= f.input :city, label: "Ville", placeholder: "ex: Bousbecque" %>
			</div>
		</div>
		<div class="fields">
			<div class="four wide field">
				<%= f.input :phone, label:"Téléphone", placeholder: "ex: 0312345678" %>
			</div>
			<div class="six wide field">
				<%= f.input :siret, label:"Siret" %>
			</div>
      <div class="six wide field">
				<%= f.input :siren, label:"Siren" %>
			</div>
		</div>
		<%= f.submit class: "ui button" %>
	<% end %>
</div>
