<!DOCTYPE html>
<html>
  <head>
    <title>Quotes</title>
    <script src="https://kit.fontawesome.com/21701715d3.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </body>
</html>
